Employment Verification

All prospective tenants are required to fill out our Rental application,
Employment Verification form, and Bank Verification form. This effort to
investigate creditworthiness can only be undertaken with your express
and complete signed approval. If you do not wish to have your credit
investigated, please return these papers and look elsewhere for
residency.

Please fill out the form below in the area required for you to do so.

# [To be filled out by the prospective Tenant]{.underline}

My Current Employer's name, address, phone number, email, and contact
person:

\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_.

My Monthly Gross Wages: \_\_\_\_\_\_\_\_\_\_\_\_.

Time employed, in months and years: \_\_\_\_\_\_\_\_\_\_\_\_\_.

## [To be filled out by the prospective Employer]{.underline}

Your employee has authorized us to get confirmation of his or her
employment with your firm, his or her gross wages, and time employed.
Please review the information as listed above and mail or fax this back
to us based on the data on our letterhead.

The above facts are true: \_\_\_\_\_\_\_\_. If not, the following facts
are true:
\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_.
Any other comments that you believe appropriate:
\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_.

\_\_\_\_\_\_\_\_\_\_\_\_\_

Employer

# [To be filled out by the prospective Tenant]{.underline}

I authorize the Landlord to conduct a credit investigation for the
purposes of being approved as a Tenant in their facility or facilities.
I further authorize my employer to verify the employment information I
have provided above and to comment on it further to the extent the
employer believes the information is right or wrong. I hold both the
Landlord and my employer harmless for any claims against them for
filling out this form, commenting on the form, or any discussions
regarding this form and its subject matter.

\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_ Date:

Tenant

\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_\_

Witness

Employment Verification

Review List

This review list is provided to inform you about this document in
question and assist you in its preparation. If you set this process up
as a routine, it will pay off handsomely. Keep your set of records
together so you can easily get the data out. Faxes make for faster
turnaround time for all concerned.

1.  Be sure to have the Tenant sign the approval line to cover any
    potential liability you or the Tenant's employer might have.

2.  Have the Tenant sign multiple originals so you can send one to the
    Employer and keep one for your own records.
